<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans     
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd    
    ">
	<context:property-placeholder location="classpath:config.properties" />

  <alias alias="defaultCryptoService" name="cryptoService" />
  <bean id="cryptoService" class="eu.pawelniewiadomski.java.spring.micropassmanager.services.impl.AESCBCBase64CryptoService"/>
  
	<alias alias="defaultPassManagerService" name="passManagerService" />
	<bean id="passManagerService" class="eu.pawelniewiadomski.java.spring.micropassmanager.services.impl.DefaultPassManagerService">
		<property name="cryptoService" ref="cryptoService" />		
	</bean>


</beans>